iframe#map {
    width: 90%;
    height: 600px;
    border: 1px solid black;
}


form{
  margin-top: 14%;
  padding: 30px;
  width: 25%;
  border: 3px solid #3F51B5;
  border-radius: 25px;
  background-color: #f8f9fa ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
