
# HTID:13189339: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
#php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:13189339:

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php [QSA,L]

# Exclude phpMyAdmin from redirect
#RewriteCond %{REQUEST_URI} ^/phpmyadmin
#RewriteRule ^.*$ - [NC,L]

#RewriteCond %{REQUEST_URI} ^/phpMyAdmin
#RewriteRule ^.*$ - [NC,L]