* {
    box-sizing: border-box;
}

html { overflow-y: hidden; }

main.mdl-layout__content {
    flex: 1 0 auto;
}

div.mdl-layout__drawer, div.mdl-layout__obfuscator {
    position: fixed;
}

div.page-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer.mdl-mega-footer {
    width: calc(100% - 240px);
    margin-left: 240px;
}

@media (max-width: 768px) {
    footer.mdl-mega-footer {
        width: 100%;
        margin-left: 0;
    }
}