main.mdl-layout__content {
    background-image: url("../img/route-background.png");
    background-size: cover;                     
    background-repeat: repeat;
    background-position: center center;
}

/* div.page-content {
    width: calc(100% - 240px);
    height: 100vh;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 50px;
}  */

form#planner, div#stations {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
} 

form#planner {
    width: 575px;
    padding: 30px 40px;
}

form#planner input.ap-input {
    height: initial;
    border-radius: 0;
}

form#planner div.mdl-textfield {
    width: 575px;
} 

form#planner button.ap-input-icon { 
    margin-bottom: 6px; 
} 

form#planner span.ap-dropdown-menu {
    text-align: left; 
}

form#planner div.mdl-textfield input.mdl-textfield__input, div#stations div#divStationsList div.getmdl-select input.mdl-textfield__input{
    padding-right: 36px;
}

form#planner button.mdl-button[type="submit"] {
    margin-top: 20px;
}

div#stations {
    height: 90%;
    width: 90%;
    display: flex;
    padding: 30px;
}

div#stations ul#routeDetails {
    width: 60%;
    height: 100%;
}

div#stations ul#routeDetails a#googleMapsLink {
    text-decoration: none;
    color: #000;
}

div#stations ul#routeDetails li.mdl-list__item {
    text-align: left;
}

div#stations ul#routeDetails li#stopsDetails {
    overflow: visible;
}

div#stations ul#routeDetails li#navigation {
    display: flex;
    justify-content: center;
}

div#stations ul#routeDetails li.mdl-list__item b {
    margin-right: 12px;
} 

div#stations ul#routeDetails li.mdl-list__item ul {
    list-style: none;
    padding-left: 0px;
}

div#stations ul#routeDetails div#divStationsList {
    width: 100%;
}

div#stations ul#routeDetails div#divStationsList div.getmdl-select {
    display: block;
}

div#stations div#map {
    min-height: 600px;
    width: 60%;
    display: flex;
    align-items: center;
    border: 1px solid #e0e0e0;
    background-image: url("../img/route-map-background.png");
    background-size: auto 100%;                     
    background-repeat: no-repeat;
    background-position: center center; 
}

div#stations div#map.background-hidden {
    background-image: none;
}

button.mdl-button--fab {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1;
}

@media (max-width: 425px) {
    form#planner div.mdl-textfield  {
        width: 300px;
    }
}

@media (max-width: 768px) {
    form#planner {
        width: 100%;
    }

    form#planner div.mdl-textfield {
        width: 100%;
    }

    div#stations {
<<<<<<< HEAD
        /* width: 100%; */
        display: flex;
=======
        width: 100%;
        height: 100%;
        overflow: auto;
>>>>>>> 641e538c90e9fa26826a5d9b61c6ac3d5c0c75f7
        flex-direction: column;
        margin: 0;
        /* padding: 20px; */
    }

    div#stations ul#routeDetails {
        width: 100%;
    }

    div#stations ul#routeDetails li.mdl-list__item span.mdl-list__item-primary-content {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    div#stations ul#routeDetails li.mmdl-list__item span.mdl-list__item-primary-content b {
        margin: 10px 0;
    }

<<<<<<< HEAD
    div#stations ul#routeDetails div#divStationsList {
        width: 100%;
        display: flex;
        flex-direction: column;
=======
@media (max-width: 1024px) {
    div#stations {
        height: 100%;
    }

    div#stations aside {
        width: 100%;
        margin: 0;
>>>>>>> 641e538c90e9fa26826a5d9b61c6ac3d5c0c75f7
    }

    div#stations ul#routeDetails div#divStationsList div.getmdl-select {
        width: 100%;
    }

    div#stations div#map {
        width: 100%;
    }
}


