input.ap-input {
    height: initial;
    border-radius: 0;
}

button.ap-input-icon { 
    margin-bottom: 6px; 
} 

span.ap-dropdown-menu {
    text-align: left; 
}

button.mdl-button--fab  {
    position: absolute;
    bottom: 50px;
    right: 50px;
}

@media (max-width: 574px) {
    input[type='search'].mdl-textfield__input {
        padding-right: 36px;
    }
}

@media (min-width: 575px) {
    div.mdl-textfield {
        width: 575px;
    } 

    .mdl-slider__container {
        width: 600px;
    }
}
